header {
  z-index: 2;
  height: 100px;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: aliceblue;
  margin-bottom: 60px;
  display: flex;
  justify-content: space-around;
  padding: 0 10px 0 0;
  align-items: center;
  /* border-bottom: 2px solid black; */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  margin-bottom: 30px;
}
header a:hover {
  color: lightgray;
  text-decoration: wavy;
  cursor: pointer;
}
header a:focus {
  color: rgba(119, 171, 68, 0.646);
  text-decoration: underline;
}
.navigator {
  display: flex;
  gap: 10px;
}
.navigator li {
  list-style: none;
  font-size: large;
  font-weight: 700;
  font-family: Georgia, "Times New Roman", Times, serif;
}
header a {
  color: black;
  text-decoration: none;
}
header a:hover {
  color: rgba(69, 154, 69, 0.662);
  text-decoration: underline;
}
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.logo img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.logo span {
  font-size: large;
  font-weight: 700;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.dropdown {
  display: none;
}
/* Home page */
.home {
  margin-top: 100px;
  border-bottom: 1px solid #ccc;
}
.home .title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.title {
  height: 60vh;
  background: linear-gradient(to right, rgb(3, 229, 229), rgb(10, 201, 137));
}
.title h1,
p {
  max-width: 500px;
}
.home img {
  width: 60px;
  height: 60px;
  animation: projectTechnology 1s ease-in-out 3;
}
.home .used-Technology {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-bottom: 30px;
}
/* About page  */
.about {
  padding-top: 103px;
  border-bottom: 1px solid #ccc;
  min-height: 100vh;
  gap: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.about img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.about p {
  text-align: center;
}
.about a {
  color: black;
  border: 1px solid black;
  border-radius: 30px;
  padding: 10px 40px;
  text-decoration: none;
  background: linear-gradient(to right, rgb(3, 229, 229), rgb(10, 201, 137));
  margin-bottom: 20px;
}

/* main page */
.gallery-page {
  padding-top: 103px;
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mainText {
  text-align: center;
}

.gallery {
  display: flex;
  padding: 50px 100px;
  width: 100%;
  max-width: 1300px;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  align-items: center;
}
.card-img-top {
  width: 100%;
  height: 200px;
}
.gallery-card {
  width: 300px;
  height: 400px;
}

.projectDescription {
  background-color: lightgreen;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 120px 100px;
}
.projetPage {
  margin-top: 100px;
}
.projectDescription p {
  text-align: center;
}
.projectLinks {
  display: flex;
  gap: 15px;
}
.projectLinks a {
  border-radius: 30px;
  background-color: rgba(68, 195, 68, 0.772);
  padding: 10px;
  min-width: 120px;
  color: black;
  text-decoration: none;
  text-align: center;
}
.projetTechnology img {
  width: 80px;
  height: 80px;
}

.projetTechnology {
  animation: projectTechnology 1s ease-in-out 3;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.projectPic {
  display: flex;
  justify-content: center;
}
.projectPic img {
  margin-top: 25px;
  margin-bottom: 30px;
  width: 50%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
@keyframes projectTechnology {
  from {
    transform: scale(0.8); /* Start with 0 scale (invisible) */
  }
  to {
    transform: scale(1); /* Grow to normal size (scale 1) */
  }
}
.contact form {
  display: flex;

  flex-direction: column;
  justify-content: center;
  max-width: 900px;
  width: 100%;
}
.contact {
  padding-top: 103px !important;
  padding: 70px 0;
  background-color: lightskyblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.form-group label {
  width: 100%;
  text-align: center;
}
.contact .submit {
  align-self: center;
  max-width: 200px;
  margin: 30px 0;
  border: 1px solid black;
  border-radius: 30px;
  padding: 10px 40px;
  background-color: aliceblue;
}
.contact a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact a:hover {
  color: rgba(196, 165, 165, 0.715);
  text-decoration: none;
}

@media screen and (max-width: 830px) {
  .dropdown {
    display: block;
  }
  .navigator {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .projectLinks {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .projectLinks a {
    width: 100%;
    max-width: 350px;
  }
  .projectDescription {
    padding: 120px 30px;
  }
  .projetTechnology img {
    width: 50px;
    height: 50px;
  }
  .projectPic img {
    width: 90%;
  }
}
